* {
	margin: 0;
	padding: 0;
	font-family: 'Abhaya Libre', serif;
}

#skybox {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: white;
	background-size: cover;
}

#background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

#char {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

#char-mid {
	height: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
}

#char-left {
	height: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	margin: auto;
	display: none;
}

#char-right {
	height: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	margin: auto;
	display: none;
}

#bottompanel {
	position: absolute;
	width: 100%;
	height: 30vh;
	top: 70vh;
	background-color: rgba(255,255,255,0.9);
	text-align: center;
	padding: 40px;
	font-size: 18px;
}

#header {
	position: relative;
	text-align: left;
	font-size: 32px;
	padding: 0;
}

#text {
	position: relative;
	margin: auto;
	text-align: left;
}

#nextbtn {
	position: absolute;
	padding: 15px 20px 15px 20px;
	right: 0;
	bottom: 0;
	margin: 20px;
}

#choicebtns {
	position: relative;
	margin-top: 30px;
	display: none;
}

#choicebtns > button {
	float: none;
}